<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="
          #bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <%=link_to "Home", root_path, class: "navbar-brand" %>
      </div>
    </nav>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="dropdown">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false"> 
          Categories<span class="caret" aria-expanded="false"></span>
        </a>
        <ul class="dropdown">
          <% @categories.each do |category| %>
          <li><%= link_to category.name, categorical_path(category_id: category.id)%></li>
          <% end %>
        </ul>
      </li>

      <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Brands<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <% @brands.each do |brand| %>
      <li><%= link_to brand, branding_path(brand: brand) %></li>
    <% end %>
      <li><%= link_to 'All', root_path %></li>
  </ul>
</li> 
<!-- End Brands -->   

    </div>
    <% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn 
    	btn-danger" %>
    	<% else %>
      <%= link_to "Sign In", new_user_session_path, class:"btn btn-primary" %>
      <% end %>
    </div>
    <%= yield %>
  </div>
  </body>
</html>
